%% -*- mode: Erlang; fill-column: 75; comment-column: 50; -*-

{sub_dirs, ["apps/proxy", "rel"]}.

{require_otp_vsn, "R14"}.

{deps, [{ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", "6c31dcea9eb10b6648d9"}},
        {erlsha2, ".*", {git, "git://github.com/vinoski/erlsha2.git", "master"}}]}.

