%% -*- mode: Erlang; fill-column: 75; comment-column: 50; -*-

{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "datanetproxy", "0.2",
        [
         kernel,
         stdlib,
	 crypto,
         sasl,
	 {appmon, load},
	 ibrowse,
	 proxy,
	 erlsha2
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "datanetproxy"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, proxy, [{incl_cond, include}]},
       {app, ibrowse, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "datanetproxy"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/datanetproxy", "bin/datanetproxy"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
